<div class="mdl-layout__container has-scrolling-header">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header has-tabs is-upgraded" data-upgraded=",MaterialLayout">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        <h3>{{#link-to "index"}}Jogo da Velha{{/link-to}}</h3>
      </div>
    </header>
    <main class="mdl-layout__content">
      <div class="mdl-layout__tab-panel is-active">
        {{outlet}}
      </div>
    </main>
  </div>
</div>
