<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  {{#link-to "2players"}}
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
      2 Players
    </button>
  {{/link-to}}
</section>
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
    Rules
  </button>
</section>
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
    Scoreboard
  </button>
</section>
