<section class="section--center mdl-grid mdl-grid--no-spacing">
  <h3>Scoreboard</h3>
  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Rank</th>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th>Wins</th>
        <th>Draws</th>
        <th>Defeats</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |score|}}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">#1</td>
          <td class="mdl-data-table__cell--non-numeric">{{score}}</td>
          <td>25</td>
          <td>25</td>
          <td>0</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>

{{outlet}}
